body {
    
    background: #303030;
    
}

canvas {
    display: block;
}

#primaryBg  {
    
     background: #FFFFFF;
     margin: 100px auto 0px;
    
}

#canvasFg, #canvasFighter, #canvasEnemy, #canvasHUD {
    
     margin: -600px auto 0px;
    
}